h2 {
   color: lightgray;
   
}

.add-folder-form {
    width: 30%;
    margin-left: 2vw;
}
label {
    color: lightgray;
    margin-bottom: 1vw;
    font-size: 1.1rem;
}
input {
    color: black;
    margin-bottom: 2vw;
    padding: 1.5vh;
}
.folder-form {
    display: flex;
    flex-direction: column;
    background-color: #1E3556;
    padding: 2vw;
}

button {
    padding: 1.5vh;
    border-radius: 10px;
    background-color: black;
    color: lightgray;
    font-size: 1.3rem
}