.error-boundary {
    background-color: #0b1b32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bdbdbd;
    height: 100vh;
}

.go-home {
    font-size: 1.3rem;
    color: #bdbdbd
}

